@model CoreMart.DAL.Models.OrderHeader

@{
    ViewData["Title"] = "مراجعة الطلب";
}

<h2>@ViewData["Title"]</h2>
<table class="table">
    <thead>
        <tr>
            <th>المنتج</th>
            <th>السعر</th>
            <th>الكمية</th>
            <th>الإجمالي</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detail in Model.OrderDetails)
        {
            <tr>
                <td>@detail.Product.Name</td>
                <td>@detail.Price.ToString("C")</td>
                <td>@detail.Count</td>
                <td>@(detail.Price * detail.Count) EGP</td>
            </tr>
        }
    </tbody>
</table>
<hr />
<h4>الإجمالي الكلي: @Model.TotalAmount.ToString("C")</h4>

<a asp-action="Payment" asp-route-orderId="@Model.Id" class="btn btn-primary">متابعة الدفع</a>
